{% extends "base.html" %}

{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='displayAll.css') }}">
{%endblock%}

{%block main%}
  <h1> Tout les authors </h1>
    <ul>
    {%for l in tableau%}
      <li class="listPerso"><a href="{{ url_for('authors_all',letter=l) }}">{{l}}</a></li>
    {%endfor%}
      <li class="listPerso"><a href="{{ url_for('authors_autre')}}">Autre</a></li>
    </ul>
    <p>
      <ul>
      {% for a in listeAuthors %}
      <li>
      <a href="{{ url_for('musics_by_author',id=a.id) }}">{{a.name}}</a>
      </li>
      {%endfor%}
      </ul>
    </p>
{% endblock%}

{%block js%}

curtab="authors_all-tab";

{%endblock%}
