{% extends "bootstrap/base.html" %}
{% block title%}{{title}}{%endblock%}

{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}">
{%endblock%}

{%block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="HOME-tab" href="{{url_for('home')}}">Bibliothèque de musique</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="home-tab"><a href="{{url_for('home')}}">Acceuil</a></li>
        <li id="musics_all-tab"><a href="{{url_for('musics_all',letter="A")}}">Toutes les musics</a></li>
        <li id="authors_all-tab"><a href="{{url_for('authors_all',letter="A")}}">Tout les authors</a></li>
        <li id="add_authors-tab"><a href="{{url_for('add_authors')}}">Add an author</a></li>
        <li>
          <ul class="nav navbar-nav navbar-right">
            {%if current_user.is_authenticated%}
              <li><a>{{current_user.username}}</a></li>
              <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out" title="Logout"></span></a></li>
            {%else%}

              <li id="login-tab"><a href="{{url_for('login')}}">Login</a></li>
              <li id="sign_up-tab"><a href="{{url_for('sign_up')}}">Sign up</a></li>
            {%endif%}
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{%endblock%}
{% block content %}
<div class="container" id="main">
  {%- block main %}{% endblock -%}
</div>
{%endblock%}

{%block scripts%}
{{super()}}
<script>
var curtab="home-tab";
{%block js%}
{%endblock%}

$(function(){
  $("#"+curtab).addClass("active");
});

</script>
{%endblock%}
