{%extends "base.html" %}
{%block main%}
<form class="form-horizontal" role="form" method="POST" action="{{url_for('login')}}">
    {{form.hidden_tag()}}
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label"> {{form.username.label}} </label>
      <div class="col-sm-10">
        {{form.username(size=50,class_="form-control", placeholder="Username")}}
      </div>
    </div>
    {%if form.username.errors%}
    <ul class="list-group">
      {%for e in form.username.errors%}
      <li class="list-group-item list-group-item-danger">{{e}}</li>
      {%endfor%}
    </ul>
    {%endif%}

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label"> {{form.password.label}} </label>
      <div class="col-sm-10">
        {{form.password(size=50, class_="form-control", placeholder="Password")}}
      </div>
    </div>
    {%if form.password.errors%}
    <ul class="list-group">
      {%for e in form.password.errors%}
      <li class="list-group-item list-group-item-danger">{{e}}</li>
      {%endfor%}
    </ul>
    {%endif%}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default"> Sign in</button>
      </div>
    </div>
  </form>
  {%endblock%}


  {%block js%}
  curtab="login-tab";
  {%endblock%}
