{% extends "base.html" %}
{%block main%}
    <h1>{{music.title}}</h1>
    <ul>
      {%if music.img%}
      <li><img src="{{ url_for('static', filename='images/'+music.img) }}"/></li>
      {%endif%}
      <a href="{{ url_for('musics_by_author',id=music.author.id) }}" >
        <li>Author : {{music.author.name}}</li>
      </a>
      <li>Parent : {{parent.name}}</li>
      <li>releaseYear: {{music.releaseYear}}</li>
      <li>
        <ul>
        {% for genre in genres%}
        <li>{{genre.genre}}</li>
        {%endfor%}
        </ul>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-6" id="DivDesCommentaires">
        <ul id="listeCommentaire">

        </ul>
      </div>
    </div>

    <div class="panel panel-default">
                <div class="panel-body">
                        <div class="form-group">
                            <label for="texteCommentaire">Commentaire</label>
                            <textarea class="form-control" id="texteCommentaire" placeholder="Ecrire votre commentaire" required></textarea>
                        </div>
                        <div class="text-right">
                            <button id="sendCommentaire" class="btn btn-default">Envoyer</button>
                        </div>
                </div>
    </div>

    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
{% endblock%}
{%block js%}

curtab="music_by_id-tab";

function getCommentaireData()
{
  let commentaire = {};
  commentaire.musicId={{music.id}};
  commentaire.username = `{{current_user.username}}`;
  commentaire.texte = $("#texteCommentaire").val();

  return commentaire;
}

function sendCommentaire(commentaire)
{
  $.ajax({
    type:'POST',
    dataType:'json',
    url: $SCRIPT_ROOT + '/saveCommentaire',
    data:JSON.stringify(commentaire),
    complete:function(retour){
      majListCommentaire();
      $("#texteCommentaire").val('');
    }
  });
}

$("#sendCommentaire").click(function()
{
  let commentaire = getCommentaireData();
  sendCommentaire(commentaire);

});

function afficheCommentaires(commentaires)
{

  $("#listeCommentaire").empty()

  for(let i=0;i<commentaires.length;++i)
  {
    let commentaire = commentaires[i];

    let ULCom = document.createElement("UL");
    ULCom.classList.add('well','list-unstyled');
    ULCom.id="ULCommentaire"+commentaire["id"];
    document.getElementById("listeCommentaire").appendChild(ULCom);

    let liID = document.createElement("li");
    liID.style.display = "none";
    liID.appendChild(document.createTextNode(commentaire["id"]));
    liID.className="id";
    liID.id=`id${commentaire["id"]}`;
    ULCom.appendChild(liID);

    let liIDFilm = document.createElement("li");
    liIDFilm.style.display = "none";
    liIDFilm.appendChild(document.createTextNode(commentaire["idFilm"]));
    liIDFilm.className="idFilm";
    liIDFilm.id=`id${commentaire["idFilm"]}`;
    ULCom.appendChild(liIDFilm);

    let liUsername = document.createElement("li");
    let spanUsername = document.createElement("span");
    spanUsername.appendChild(document.createTextNode("username :"));
    let spanValueUsername = document.createElement("span");
    spanValueUsername.appendChild(document.createTextNode(commentaire["username"])),
    liUsername.appendChild(spanUsername);
    liUsername.appendChild(spanValueUsername);
    liUsername.className="username";
    liUsername.id="username"+commentaire["id"];
    ULCom.appendChild(liUsername);

    let liText = document.createElement("li");
    let spanText = document.createElement("span");
    spanText.appendChild(document.createTextNode("texte :"));
    let spanValueText = document.createElement("span");
    spanValueText.appendChild(document.createTextNode(commentaire["texte"])),
    spanValueText.id=`CText${commentaire["id"]}`
    liText.appendChild(spanText);
    liText.appendChild(spanValueText);
    liText.className="texte";
    liText.id="texte"+commentaire["id"];
    ULCom.appendChild(liText);

    if(commentaire["username"]=="{{current_user.username}}")
    {
      let buttonSupprimerCom = document.createElement("button");
      buttonSupprimerCom.appendChild(document.createTextNode("supprimer"));
      buttonSupprimerCom.classList.add('buttonSupprimer','btn','btn-danger');
      buttonSupprimerCom.id=`buttonSupprimer${i}`;
      buttonSupprimerCom.addEventListener('click', supprimerCom, false);
      ULCom.appendChild(buttonSupprimerCom);

      let buttonEditionCom = document.createElement("button");
      buttonEditionCom.appendChild(document.createTextNode("editer"));
      buttonEditionCom.classList.add("buttonEditer",'btn','btn-primary');
      buttonEditionCom.id=`buttonEditer${i}`;
      buttonEditionCom.addEventListener('click',editerCom, false);
      ULCom.appendChild(buttonEditionCom);
    }

    let buttonRepondre = document.createElement("button");
    buttonRepondre.appendChild(document.createTextNode("repondre"));
    buttonRepondre.classList.add('buttonRepondre','btn','btn-info');
    buttonRepondre.id=`buttonRepondre${i}`;
    buttonRepondre.addEventListener('click',repondreCom,false);
    ULCom.appendChild(buttonRepondre);

    let ULReponses = document.createElement("UL");
    ULCom.appendChild(ULReponses);


    let lesReponses = commentaire["reponses"]
    for(let j=0;j<lesReponses.length;++j)
    {
      let reponse = lesReponses[j];

      let ULReponse = document.createElement("UL");
      ULReponse.id=`ULReponse${reponse['idR']}`;
      ULReponses.appendChild(ULReponse);

      let liIDR = document.createElement("li");
      liIDR.style.display = "none";
      liIDR.appendChild(document.createTextNode(reponse["idR"]));
      liIDR.className="Rid";
      liIDR.id=`RidReponse${reponse["idR"]}`;
      ULReponse.appendChild(liIDR);

      let liIDCom = document.createElement("li");
      liIDCom.style.display = "none";
      liIDCom.appendChild(document.createTextNode(reponse["idCom"]));
      liIDCom.id=`RidCom${reponse["idR"]}`;
      ULReponse.appendChild(liIDCom);

      let RliUsername = document.createElement("li");
      let RspanUsername = document.createElement("span");
      RspanUsername.appendChild(document.createTextNode("username :"));
      let RspanValueUsername = document.createElement("span");
      RspanValueUsername.appendChild(document.createTextNode(reponse["username"])),
      RliUsername.appendChild(RspanUsername);
      RliUsername.appendChild(RspanValueUsername);
      RliUsername.id="Rusername"+reponse["idR"];
      ULReponse.appendChild(RliUsername);

      let RliText = document.createElement("li");
      let RspanText = document.createElement("span");
      RspanText.appendChild(document.createTextNode("texte :"));
      let RspanValueText = document.createElement("span");
      RspanValueText.id="Rtexte"+reponse["idR"];
      RspanValueText.appendChild(document.createTextNode(reponse["texte"])),
      RliText.appendChild(RspanText);
      RliText.appendChild(RspanValueText);
      ULReponse.appendChild(RliText);

      if(commentaire["username"]=="{{current_user.username}}")
      {
        let buttonSupprimerRep = document.createElement("button");
        buttonSupprimerRep.appendChild(document.createTextNode("supprimer"));
        buttonSupprimerRep.classList.add('buttonSupprimer','btn','btn-danger');
        buttonSupprimerRep.id=`buttonSupprimerRep${reponse["idR"]}`;
        buttonSupprimerRep.addEventListener('click', supprimerRep, false);
        ULReponse.appendChild(buttonSupprimerRep);

        let buttonEditionRep = document.createElement("button");
        buttonEditionRep.appendChild(document.createTextNode("editer"));
        buttonEditionRep.classList.add("buttonEditer",'btn','btn-primary');
        buttonEditionRep.id=`buttonEditerR${reponse["idR"]}`;
        buttonEditionRep.addEventListener('click',editerRep, false);
        ULReponse.appendChild(buttonEditionRep);
      }

    }

  }
}


function editerRep(e)
{
  let button = e.target;
  let ULParent = button.parentNode;
  let idReponse = ULParent.getElementsByClassName("Rid")[0].innerHTML;

  let interface = getInterfaceEditionReponse(idReponse);
  document.getElementById("ULReponse"+idReponse).appendChild(interface);

  button.style.display = "none";

}

function getInterfaceEditionReponse(idReponse)
{
  function envoyerEdition(e)
  {
    let informations = {};
    informations.id=idReponse;
    informations.text=$("#textEditionReponse"+idReponse).val();

    $.ajax({
      type:'POST',
      dataType:'json',
      url:$SCRIPT_ROOT + '/editerReponse',
      data:JSON.stringify(informations),
      complete:function(retour){
        majListCommentaire();
      }
    });
  }

  let ULConteneur = document.createElement("UL");
  let textArea = document.createElement("textarea");
  ULConteneur.appendChild(textArea);
  textArea.row="4";
  textArea.cols="50";
  textArea.id="textEditionReponse"+idReponse;
  textArea.placeholder="Type your reponse";
  textArea.appendChild(document.createTextNode($("#Rtexte"+idReponse).html()));

  let buttonSubmit = document.createElement("button");
  ULConteneur.appendChild(buttonSubmit);
  buttonSubmit.id="buttonEditionReponse"+idReponse;
  buttonSubmit.appendChild(document.createTextNode("envoyer les modifs"));
  buttonSubmit.addEventListener('click',envoyerEdition, false);

  return ULConteneur;
}


function supprimerRep(e)
{
  let button = e.target;
  let ULParent = button.parentNode;

  let idReponse = ULParent.getElementsByClassName("Rid")[0].innerHTML;
  supprimerInDBReponse(idReponse);
}

function supprimerInDBReponse(idReponse)
{

  informations = {"id":idReponse};

  $.ajax({
    type:'POST',
    dataType:'json',
    url:$SCRIPT_ROOT + '/supprimerReponse',
    data:JSON.stringify(informations),
    complete:function(retour){
      majListCommentaire();
    }
  });
}

function repondreCom(e)
{
  let button = e.target;
  let ULParent = button.parentNode;
  let idCommentaire = ULParent.getElementsByClassName("id")[0].innerHTML;

  let interface = getInterfaceRepondre(idCommentaire);
  document.getElementById("ULCommentaire"+idCommentaire).appendChild(interface);

  button.style.display = "none";

}

function getInterfaceRepondre(idCommentaire)
{
  function envoyerReponse(e)
  {
    let informations = {};
    informations.idCom=idCommentaire;
    informations.text=$("#textReponse"+idCommentaire).val();
    informations.username=`{{current_user.username}}`;

    $.ajax({
      type:'POST',
      dataType:'json',
      url:$SCRIPT_ROOT + '/repondreCommentaire',
      data:JSON.stringify(informations),
      complete:function(retour){
        majListCommentaire();
      }
    });
  }

  let ULConteneur = document.createElement("UL");
  let textArea = document.createElement("textarea");
  ULConteneur.appendChild(textArea);
  textArea.row="4";
  textArea.cols="50";
  textArea.id="textReponse"+idCommentaire;
  textArea.placeholder="Type your reponse";

  let buttonSubmit = document.createElement("button");
  ULConteneur.appendChild(buttonSubmit);
  buttonSubmit.id="buttonRepondre"+idCommentaire;
  buttonSubmit.appendChild(document.createTextNode("envoyer la réponse"));
  buttonSubmit.addEventListener('click',envoyerReponse, false);

  return ULConteneur;
}

function majListCommentaire()
{
  let informations = {};
  informations.idMusic={{music.id}};

  let commentaires;

  $.ajax({
    type:'GET',
    dataType:'json',
    url:$SCRIPT_ROOT + '/getListCommentaires',
    data:informations,
    complete:function(retour){
      commentaires = retour.responseJSON;
      afficheCommentaires(commentaires);
    }
  });

}

function supprimerCom(e)
{
  let button = e.target;
  let ULParent = button.parentNode;

  let idCommentaire = ULParent.getElementsByClassName("id")[0].innerHTML;
  supprimerInDB(idCommentaire);
}

function editerCom(e)
{
  let button = e.target;
  let ULParent = button.parentNode;
  let idCommentaire = ULParent.getElementsByClassName("id")[0].innerHTML;

  let interface = getInterfaceEdition(idCommentaire);
  document.getElementById("ULCommentaire"+idCommentaire).appendChild(interface);

  button.style.display = "none";

}

function getInterfaceEdition(idCommentaire)
{
  function envoyerEdition(e)
  {
    let informations = {};
    informations.id=idCommentaire;
    informations.text=$("#textEdition"+idCommentaire).val();

    $.ajax({
      type:'POST',
      dataType:'json',
      url:$SCRIPT_ROOT + '/editerCommentaire',
      data:JSON.stringify(informations),
      complete:function(retour){
        majListCommentaire();
      }
    });
  }

  let ULConteneur = document.createElement("UL");
  let textArea = document.createElement("textarea");
  ULConteneur.appendChild(textArea);
  textArea.row="4";
  textArea.cols="50";
  textArea.id="textEdition"+idCommentaire;
  textArea.placeholder="Type your comment";
  textArea.appendChild(document.createTextNode($("#CText"+idCommentaire).html()));

  let buttonSubmit = document.createElement("button");
  ULConteneur.appendChild(buttonSubmit);
  buttonSubmit.id="buttonEdition"+idCommentaire;
  buttonSubmit.appendChild(document.createTextNode("envoyer les modifs"));
  buttonSubmit.addEventListener('click',envoyerEdition, false);

  return ULConteneur;
}

function supprimerInDB(idCommentaire)
{

  informations = {"id":idCommentaire};

  $.ajax({
    type:'POST',
    dataType:'json',
    url:$SCRIPT_ROOT + '/supprimerCommentaire',
    data:JSON.stringify(informations),
    complete:function(retour){
      majListCommentaire();
    }
  });
}

majListCommentaire();
{%endblock%}
