{% extends "base.html" %}

{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='displayAll.css') }}">
{%endblock%}

{%block main%}
  <h1> Toutes les musiques </h1>
    <ul>
    {%for l in tableau%}
      <li class="listPerso"><a href="{{ url_for('musics_all',params=l+"1") }}">{{l}}</a></li>
    {%endfor%}
      <li class="listPerso"><a href="{{url_for('musics_autre',page=1)}}">Autre</a><li>
    </ul>

    <ul>
      {%for i in listePages%}
      <li class="listPerso"><a href="{{url_for('musics_autre',page=(i-1)|string)}}">{{i}}</a></li>
      {%endfor%}
    </ul>


    {% for m in listeMusics %}
    <div class="col-xs-6 col-sm-3 col-md-2 music_img">
    <a href="{{ url_for('music_by_id',id=m.id) }}">
        {%if m.img%}
          <img class="img-responsive" src="{{ url_for('static', filename='images/'+m.img) }}" />
        {%else%}
          <img class="img-responsive" src="{{ url_for('static', filename='not-found.png') }}" />
        {%endif%}
      {{m.title}}
    </a></div>
    {%endfor%}


{% endblock%}

{%block js%}

curtab="musics_all-tab";

{%endblock%}
