{% extends "base.html" %}

{%block styles%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static',filename='displayAll.css') }}">
{%endblock%}

{%block main%}
    <h1>{{author.name}}</h1>
    <a href="{{url_for('edit_authors',id=author.id)}}">Edit name</a>

    {%if listeBy|length!=0%}
    <h2> Musics enregistrées </h2>

    <div class="row">
    {%for music in listeBy%}

    <div class="col-xs-6 col-sm-3 col-md-2 music_img">
    <a href="{{ url_for('music_by_id',id=music.id) }}">
        {%if music.img%}
          <img src="{{ url_for('static', filename='images/'+music.img) }}" />
        {%else%}
          <img class="img-responsive" src="{{ url_for('static', filename='not-found.png') }}" />
        {%endif%}
      {{music.title}}
    </a></div>
    {%endfor%}
  </div>
    {%endif%}

    {%if listeParent|length!=0%}
    <h2> Musics écrites </h2>
    <div class="row">
    {%for music in listeParent%}
    <div class="col-xs-6 col-sm-3 col-md-2 music_img">
    <a href="{{ url_for('music_by_id',id=music.id) }}">
        {%if music.img%}
          <img src="{{ url_for('static', filename='images/'+music.img) }}" />
        {%else%}
          <img class="img-responsive" src="{{ url_for('static', filename='not-found.png') }}" />
        {%endif%}
      {{music.title}}
    </a></div>
    {%endfor%}
  </div>
    {%endif%}

{% endblock%}
{%block js%}

curtab="musics_by_author-tab";

{%endblock%}
