{% extends "base.html" %}
{%block main%}
  <h1> Toutes les musiques </h1>
    <ul>
    {%for l in tableau%}
      <li><a href="{{ url_for('musics_all',letter=l) }}">{{l}}</a></li>
    {%endfor%}
      <li><a href="{{url_for('musics_autre')}}">Autre</a><li>
    </ul>
    <p>
      <ul>
      {% for m in listeMusics %}
      <li>
      <a href="{{ url_for('music_by_id',id=m.id) }}">{{m.title}}</a>
      </li>
      {%endfor%}
      </ul>
    </p>
{% endblock%}

{%block js%}

curtab="musics_all-tab";

{%endblock%}
